/* home page */
.homepage {
  $size: 70px;
  /* control the size*/

  $loop: #0000 46%, $gw-buff 47% 53%, #0000 54%;
  background:
    radial-gradient(100% 100% at 100% 100%, $loop) $size $size,
    radial-gradient(100% 100% at 0 0, $loop) $size $size,
    radial-gradient(100% 100%, transparent 22%, $gw-buff 23% 29%, #0000 30% 34%, $gw-buff 35% 41%, #0000 42%),
    $gw-dark-blue;
  background-size: calc($size*2) calc($size*2);
}

/* css art */
.css {
  $size: 60px;

  $gradient: #0000 83%, $gw-dark-blue 85% 99%, #0000 101%;
  background:
    radial-gradient(27% 29% at right, $gradient) calc($size/ 2) $size,
    radial-gradient(27% 29% at left, $gradient) calc($size/-2) $size,
    radial-gradient(29% 27% at top, $gradient) 0 calc($size/ 2),
    radial-gradient(29% 27% at bottom, $gradient) 0 calc($size/-2) $gw-buff;
  background-size: calc(2*$size) calc(2*$size);
}

.generative {
  $size: 140px;

  $gradient: #0000 52%, $gw-buff 54% 57%, #0000 59%;
  background:
    radial-gradient(farthest-side at -33.33% 50%, $gradient) 0 calc($size/2),
    radial-gradient(farthest-side at 50% 133.33%, $gradient) calc($size/2) 0,
    radial-gradient(farthest-side at 133.33% 50%, $gradient),
    radial-gradient(farthest-side at 50% -33.33%, $gradient),
    $gw-dark-blue;
  background-size: calc($size/4.667) $size, $size calc($size/4.667);
}

.extra {
  $size: 220px;
  
  $gradient:radial-gradient(#0000 60%,$gw-dark-blue 61% 63%,#0000 64% 77%,$gw-dark-blue 78% 80%,#0000 81%);
  $lines:#0000 75%,$gw-light-blue 0;
  background:
    conic-gradient(at 12% 20%, $lines) calc($size* .44) calc(.9*$size),
    conic-gradient(at 12% 20%, $lines) calc($size*-.06) calc(.4*$size),
    conic-gradient(at 20% 12%, $lines) calc(.9*$size) calc($size* .44),
    conic-gradient(at 20% 12%, $lines) calc(.4*$size) calc($size*-.06),
    $gradient,$gradient calc($size/2) calc($size/2) $gw-light-blue;
  background-size: $size $size;
}

.intro {
  $size: 145px; /* control the size*/
  
  $gradient: #0000 24%,
    $gw-dark-blue 26% 34%,$gw-light-blue 36% 44%,
    $gw-dark-blue 46% 54%,$gw-light-blue 56% 64%,
    $gw-dark-blue 66% 74%,#0000 76%;
  background:
    radial-gradient(100% 100% at 100% 0,$gradient),
    radial-gradient(100% 100% at 0 100%,$gradient),
    radial-gradient($gw-dark-blue 14%,$gw-light-blue 16%) 
     calc($size/2) calc($size/2);
  background-size: $size $size;
}

.tryit {
  $size: 16px;
  
  $gradient:#0000 66%,$gw-dark-blue 67% 98%,#0000;
  background:
    radial-gradient(30% 50% at 30% 100%,$gradient),
    radial-gradient(30% 50% at 70%   0%,$gradient) $size 0,
    repeating-linear-gradient(90deg,$gw-dark-blue 0 10%,$gw-light-blue 0 50%);
  background-size: calc(10*$size) calc(6*$size);
}