@font-face {
    font-family: "Gibson";
    src:
        url("../fonts/GibsonVF-Regular.woff2") format("woff2"),
        url("../fonts/GibsonVF-Regular.woff") format("woff");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cristone";
    src:
        url("../fonts/Cristone.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}