body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Gibson", "Helvetica", sans-serif;
    font-weight: 200;
    color: var(--gw-dark-grey);
}

h1,
h2 {
    margin: 0;
    font-weight: 200;
    color: $gw-dark-grey;
}

ul {
    display: inline-block;
    color: $gw-dark-grey;
    list-style: "\27bb";

    li {
        padding-left: 0.4rem;
        text-align: start;
        font-size: 1.2rem;

        &::marker {
            color: $gw-light-blue;
        }
    }
}

a {
    color: $gw-light-blue;

    &:hover,
    &:focus {
        color: $gw-brown;
    }
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: "Gibson", "Helvetica", sans-serif;

    .contentwrap {
        width: calc(100vw - 2em);
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

nav,
main {
    padding: 2em;
}

nav {
    width: 36%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li,
        li a {
            font-family: "Cristone", 'Times New Roman', Times, serif;
            color: $gw-white;
            text-decoration: none;
            font-size: 6rem;
            text-shadow: 1px 1px 2px $gw-buff, 0 0 1em $gw-dark-blue, 0 0 0.2em $gw-dark-blue;
            -webkit-transition: all 1s;
            transition: all 1s;

            &:hover {
                margin-left: -0.4rem;
                color: $gw-hover-buff;
                text-shadow: 1px 1px 2px $gw-buff, 0 0 1em $gw-dark-blue, 0 0 0.2em $gw-dark-blue;
            }
        }
    }
}

@media (max-width: 1630px) {
        .container .contentwrap {
            flex-direction: column;
            justify-content: start;
            align-items: center;

            nav {
                width: 100%;
                padding: 0;
                margin: 1rem 0;
                flex-direction: row;
                align-items: center;

                ul {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;

                    li,
                    li a {
                        font-size: 3rem;

                        &:hover {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
}

@media (max-width: 825px) {
    .container .contentwrap nav {
        ul {
            li,
            li a {
                font-size: 5vw;
            }
        }
    }
}