$gw-white: #fff;
$gw-light-blue: #0073aa;
$gw-dark-blue: #033c5a;
$gw-dark-grey: #444;
$gw-brown: #a75523;
$gw-light-green: #78be20;
$gw-dark-green: #008364;
$gw-yellow: #ffd400;
$gw-red: #c9102f;
$gw-buff: #aa9868;
$gw-utility-buff: #e3dccc;
$gw-hover-buff: #d9d0bb;