@charset "UTF-8";
/* home page */
.homepage {
  background: conic-gradient(at 12% 20%, rgba(0, 0, 0, 0) 75%, #033c5a 0) 54.56px 111.6px, conic-gradient(at 12% 20%, rgba(0, 0, 0, 0) 75%, #033c5a 0) -7.44px 49.6px, conic-gradient(at 20% 12%, rgba(0, 0, 0, 0) 75%, #033c5a 0) 111.6px 54.56px, conic-gradient(at 20% 12%, rgba(0, 0, 0, 0) 75%, #033c5a 0) 49.6px -7.44px, radial-gradient(rgba(0, 0, 0, 0) 60%, #aa9868 61% 63%, rgba(0, 0, 0, 0) 64% 77%, #aa9868 78% 80%, rgba(0, 0, 0, 0) 81%), radial-gradient(rgba(0, 0, 0, 0) 60%, #aa9868 61% 63%, rgba(0, 0, 0, 0) 64% 77%, #aa9868 78% 80%, rgba(0, 0, 0, 0) 81%) 62px 62px #033c5a;
  background-size: 124px 124px;
}

/* css art */
.css {
  background: radial-gradient(27% 29% at right, rgba(0, 0, 0, 0) 83%, #033c5a 85% 99%, rgba(0, 0, 0, 0) 101%) 30px 60px, radial-gradient(27% 29% at left, rgba(0, 0, 0, 0) 83%, #033c5a 85% 99%, rgba(0, 0, 0, 0) 101%) -30px 60px, radial-gradient(29% 27% at top, rgba(0, 0, 0, 0) 83%, #033c5a 85% 99%, rgba(0, 0, 0, 0) 101%) 0 30px, radial-gradient(29% 27% at bottom, rgba(0, 0, 0, 0) 83%, #033c5a 85% 99%, rgba(0, 0, 0, 0) 101%) 0 -30px #aa9868;
  background-size: 120px 120px;
}

.generative {
  background: radial-gradient(farthest-side at -33.33% 50%, rgba(0, 0, 0, 0) 52%, #aa9868 54% 57%, rgba(0, 0, 0, 0) 59%) 0 70px, radial-gradient(farthest-side at 50% 133.33%, rgba(0, 0, 0, 0) 52%, #aa9868 54% 57%, rgba(0, 0, 0, 0) 59%) 70px 0, radial-gradient(farthest-side at 133.33% 50%, rgba(0, 0, 0, 0) 52%, #aa9868 54% 57%, rgba(0, 0, 0, 0) 59%), radial-gradient(farthest-side at 50% -33.33%, rgba(0, 0, 0, 0) 52%, #aa9868 54% 57%, rgba(0, 0, 0, 0) 59%), #033c5a;
  background-size: 29.9978572959px 140px, 140px 29.9978572959px;
}

.extra {
  background: conic-gradient(at 12% 20%, rgba(0, 0, 0, 0) 75%, #0073aa 0) 96.8px 198px, conic-gradient(at 12% 20%, rgba(0, 0, 0, 0) 75%, #0073aa 0) -13.2px 88px, conic-gradient(at 20% 12%, rgba(0, 0, 0, 0) 75%, #0073aa 0) 198px 96.8px, conic-gradient(at 20% 12%, rgba(0, 0, 0, 0) 75%, #0073aa 0) 88px -13.2px, radial-gradient(rgba(0, 0, 0, 0) 60%, #033c5a 61% 63%, rgba(0, 0, 0, 0) 64% 77%, #033c5a 78% 80%, rgba(0, 0, 0, 0) 81%), radial-gradient(rgba(0, 0, 0, 0) 60%, #033c5a 61% 63%, rgba(0, 0, 0, 0) 64% 77%, #033c5a 78% 80%, rgba(0, 0, 0, 0) 81%) 110px 110px #0073aa;
  background-size: 220px 220px;
}

.intro {
  /* control the size*/
  background: radial-gradient(100% 100% at 100% 0, rgba(0, 0, 0, 0) 24%, #033c5a 26% 34%, #0073aa 36% 44%, #033c5a 46% 54%, #0073aa 56% 64%, #033c5a 66% 74%, rgba(0, 0, 0, 0) 76%), radial-gradient(100% 100% at 0 100%, rgba(0, 0, 0, 0) 24%, #033c5a 26% 34%, #0073aa 36% 44%, #033c5a 46% 54%, #0073aa 56% 64%, #033c5a 66% 74%, rgba(0, 0, 0, 0) 76%), radial-gradient(#033c5a 14%, #0073aa 16%) 72.5px 72.5px;
  background-size: 145px 145px;
}

.tryit {
  background: radial-gradient(30% 50% at 30% 100%, rgba(0, 0, 0, 0) 66%, #033c5a 67% 98%, rgba(0, 0, 0, 0)), radial-gradient(30% 50% at 70% 0%, rgba(0, 0, 0, 0) 66%, #033c5a 67% 98%, rgba(0, 0, 0, 0)) 16px 0, repeating-linear-gradient(90deg, #033c5a 0 10%, #0073aa 0 50%);
  background-size: 160px 96px;
}

@font-face {
  font-family: "Gibson";
  src: url("../fonts/GibsonVF-Regular.woff2") format("woff2"), url("../fonts/GibsonVF-Regular.woff") format("woff");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cristone";
  src: url("../fonts/Cristone.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Gibson", "Helvetica", sans-serif;
  font-weight: 200;
  color: var(--gw-dark-grey);
}

h1,
h2 {
  margin: 0;
  font-weight: 200;
  color: #444;
}

ul {
  display: inline-block;
  color: #444;
  list-style: "➻";
}
ul li {
  padding-left: 0.4rem;
  text-align: start;
  font-size: 1.2rem;
}
ul li::marker {
  color: #0073aa;
}

a {
  color: #0073aa;
}
a:hover, a:focus {
  color: #a75523;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Gibson", "Helvetica", sans-serif;
}
.container .contentwrap {
  width: calc(100vw - 2em);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav,
main {
  padding: 2em;
}

nav {
  width: 36%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li,
nav ul li a {
  font-family: "Cristone", "Times New Roman", Times, serif;
  color: #fff;
  text-decoration: none;
  font-size: 6rem;
  text-shadow: 1px 1px 2px #aa9868, 0 0 1em #033c5a, 0 0 0.2em #033c5a;
  -webkit-transition: all 1s;
  transition: all 1s;
}
nav ul li:hover,
nav ul li a:hover {
  margin-left: -0.4rem;
  color: #d9d0bb;
  text-shadow: 1px 1px 2px #aa9868, 0 0 1em #033c5a, 0 0 0.2em #033c5a;
}

@media (max-width: 1630px) {
  .container .contentwrap {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .container .contentwrap nav {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    flex-direction: row;
    align-items: center;
  }
  .container .contentwrap nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .container .contentwrap nav ul li,
  .container .contentwrap nav ul li a {
    font-size: 3rem;
  }
  .container .contentwrap nav ul li:hover,
  .container .contentwrap nav ul li a:hover {
    margin-left: 0;
  }
}
@media (max-width: 825px) {
  .container .contentwrap nav ul li,
  .container .contentwrap nav ul li a {
    font-size: 5vw;
  }
}
main {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
main .main-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
main .pagecontent {
  width: 40rem;
  margin-top: -5rem;
  display: flex;
  align-items: end;
  order: 1;
  padding: 1rem;
  align-self: start;
  border-radius: 2rem;
  border: 8px double #033c5a;
  background-color: #fff;
  box-shadow: #033c5a 0px 20px 30px -10px;
  z-index: 2;
}
main .pagecontent#home {
  height: 18rem;
}
main .pagecontent#intro, main .pagecontent#generative {
  height: 25rem;
}
main .pagecontent#css {
  height: 30rem;
  margin-top: -10rem;
}
main .pageinfo {
  margin-top: -5rem;
  align-self: center;
  text-align: end;
  order: 3;
  z-index: 3;
}
main .pageinfo h1 {
  font-family: "Cristone", "Times New Roman", Times, serif;
  color: #fff;
  text-shadow: 2px 2px 0px #aa9868, 4px 4px 0px #0073aa, 6px 6px 0px #c9102f, 8px 8px 0px #78be20, 10px 10px 0px #033c5a, 0 0 1em #033c5a, 0 0 0.2em #033c5a;
}
main .pageinfo h2 {
  margin-right: 5rem;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 0px #aa9868, 3px 3px 0px #0073aa, 4px 4px 0px #c9102f, 5px 5px 0px #78be20, 6px 6px 0px #033c5a, 0 0 1em #033c5a, 0 0 0.2em #033c5a;
}
main .pageinfo#digitalart h1 {
  font-size: 9rem;
}
main .pageinfo#intro h1 {
  font-size: 6rem;
}
main .pageinfo#css h1 {
  font-size: 9rem;
}
main .pageinfo#generative h1 {
  font-size: 7rem;
}
main .pageinfo#tryit h1 {
  font-size: 9rem;
}

@media (max-width: 1630px) {
  .container .contentwrap main {
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  body.css .container .contentwrap main {
    margin-left: -13vw;
  }
  body.homepage .container .contentwrap main,
  body.intro .container .contentwrap main {
    margin-left: -8vw;
  }
}
@media (max-width: 1430px) {
  body.css .container .contentwrap main {
    margin-left: -18vw;
  }
  body.homepage .container .contentwrap main,
  body.intro .container .contentwrap main {
    margin-left: -5vw;
  }
}
@media (max-width: 1100px) {
  body.css .container .contentwrap main,
  body.homepage .container .contentwrap main {
    margin-left: -10vw;
  }
  body.intro .container .contentwrap main {
    margin-left: -8vw;
  }
}
@media (max-width: 900px) {
  main .pagecontent {
    width: 80vw;
    margin-top: 0;
  }
  main .pagecontent#home {
    height: 25rem;
  }
  main .pagecontent#intro {
    height: 40rem;
  }
  main .pagecontent#generative {
    height: 43rem;
  }
  main .pagecontent#css {
    margin-top: 0;
  }
  main .pagecontent#css .scroll {
    height: 4rem;
  }
  main .main-container {
    align-items: center;
  }
  body.css .container .contentwrap main,
  body.homepage .container .contentwrap main {
    margin-left: 0;
  }
  body.intro .container .contentwrap main {
    margin-left: 0;
  }
  main .pageinfo {
    text-align: center;
  }
  main .pageinfo#digitalart h1, main .pageinfo#tryit h1, main .pageinfo#css h1 {
    font-size: 18vw;
  }
  main .pageinfo#intro h1, main .pageinfo#generative h1 {
    font-size: 14vw;
  }
  main .pageinfo h2 {
    font-size: 5vw;
    margin-right: 0;
  }
}
.media-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  order: 1;
}
.media-container .pagemedia {
  overflow: hidden;
  align-self: center;
}
.media-container .pagemedia.logo {
  width: 10rem;
  min-width: 160px;
  height: 10rem;
  transform: rotate(-20deg) translate(1rem, 4rem);
  z-index: 4;
  opacity: 1;
}
.media-container .pagemedia.logo .logowrap {
  width: 10rem;
  min-width: 160px;
  height: 10rem;
  position: absolute;
  overflow: hidden;
  border-radius: 100%;
  background-color: #033c5a;
}
.media-container .pagemedia#francine {
  margin-top: -8rem;
}
.media-container .pagemedia.media {
  width: 30rem;
  height: 20rem;
  margin-left: 10rem;
}
.media-container .pagemedia.media .mediawrap {
  position: absolute;
  overflow: hidden;
  border-image-source: url("https://hilba.neocities.org/frame-border.png");
  border-image-slice: 127;
  border-image-repeat: repeat;
  border-width: 40px;
  border-style: solid;
}
.media-container .pagemedia.media #intro {
  width: 25rem;
  height: 35rem;
  margin-left: 8rem;
}
.media-container .pagemedia.media #index {
  width: 30rem;
  height: 40rem;
  margin-left: 4rem;
  margin-top: -1.5rem;
}
.media-container .pagemedia.media #francine {
  margin-left: 14rem;
  width: 25rem;
  height: 31rem;
}
.media-container .pagemedia.media #generative {
  margin-left: 0;
  width: 30rem;
  height: 25rem;
}
.media-container .pagemedia.media #try {
  margin-left: 0;
  width: 30rem;
  height: 20rem;
}
.media-container .pagemedia .logowrap img,
.media-container .pagemedia .mediawrap img {
  height: auto;
  position: absolute;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.media-container .pagemedia .logowrap img {
  width: 70%;
}
.media-container .pagemedia .mediawrap img {
  width: 100%;
}
.media-container .pagemedia .mediawrap iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1630px) {
  .media-container .pagemedia.media #index {
    margin-top: 1rem;
  }
}
@media (max-width: 1100px) {
  .media-container .pagemedia.media #francine {
    margin-left: 12vw;
  }
  .media-container .pagemedia.media #index {
    margin-left: 1rem;
  }
  .media-container .pagemedia.media #intro {
    margin-left: 4rem;
  }
  .media-container .pagemedia.media #generative,
  .media-container .pagemedia.media #try {
    margin-left: -5vw;
  }
}
@media (max-width: 900px) {
  .media-container {
    margin-top: -8rem;
    order: 4;
    flex-direction: column;
  }
  .media-container .pagemedia {
    align-self: unset;
  }
  .media-container .pagemedia#francine {
    margin-top: 0;
  }
  .media-container .pagemedia.logo {
    transform: rotate(-20deg) translate(-12rem, 10rem);
    z-index: -1;
  }
  .media-container .pagemedia.media {
    margin-left: 0;
  }
  .media-container .pagemedia.media #index {
    margin-left: 0;
  }
  .media-container .pagemedia.media #francine {
    margin-left: 0;
  }
  .media-container .pagemedia.media #intro {
    margin-left: 0;
  }
  .media-container .pagemedia.media #generative {
    margin-left: 0;
  }
  .media-container .pagemedia.media #try {
    margin-left: 0;
  }
  body.homepage .pagemedia.media,
  body.tryit .pagemedia.media,
  body.generative .pagemedia.media {
    width: calc(30rem + 80px);
  }
  body.generative .pagemedia.media {
    height: calc(30rem + 80px);
  }
  body.homepage .pagemedia.media {
    height: calc(45rem + 80px);
  }
  body.intro .pagemedia.media {
    width: calc(25rem + 80px);
    height: calc(40rem + 80px);
  }
  body.tryit .pagemedia.media {
    height: calc(25rem + 80px);
  }
}
@media (max-width: 645px) {
  .media-container .pagemedia.logo {
    opacity: 0;
  }
  body.homepage .media-container,
  body.tryit .media-container,
  body.generative .media-container,
  body.intro .media-container,
  body.css .media-container,
  body.homepage .pagemedia.media,
  body.tryit .pagemedia.media,
  body.generative .pagemedia.media,
  body.intro .pagemedia.media,
  body.css .pagemedia.media {
    width: calc(70vw + 80px);
  }
  body.homepage .pagemedia.media,
  body.intro .pagemedia.media {
    height: calc(90vw + 80px);
  }
  body.tryit .pagemedia.media {
    height: calc(45vw + 80px);
  }
  .media-container .pagemedia.media #index,
  .media-container .pagemedia.media #intro,
  .media-container .pagemedia.media #francine,
  .media-container .pagemedia.media #generative,
  .media-container .pagemedia.media #try {
    width: 70vw;
  }
  .media-container .pagemedia.media #index,
  .media-container .pagemedia.media #intro,
  .media-container .pagemedia.media #francine {
    height: 90vw;
  }
  .media-container .pagemedia.media #try {
    height: 45vw;
  }
}
.pagecontent .swiper {
  height: 100%;
}
.pagecontent .swiper .swiper-button-next::after,
.pagecontent .swiper .swiper-rtl .swiper-button-prev::after,
.pagecontent .swiper .swiper-button-prev::after,
.pagecontent .swiper .swiper-rtl .swiper-button-next::after {
  color: #033c5a;
}
.pagecontent .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagecontent .swiper .swiper-slide .single-slide {
  margin: 0 3.5rem;
  text-align: center;
}
.pagecontent .swiper .swiper-slide .single-slide h1 {
  margin: 0 0 1rem 0;
  background-image: linear-gradient(to left, #033c5a, #0073aa);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.pagecontent .swiper .swiper-slide .single-slide h2 {
  margin: 0 0 0.2rem 0;
  padding: 0.4rem 0.6rem;
  color: #444;
  font-size: 1.5rem;
}
.pagecontent .swiper .swiper-slide .single-slide h3 {
  margin: 0 0 0.2rem 0;
  color: #033c5a;
  font-weight: 200;
  font-size: 1.4rem;
}
.pagecontent .swiper .swiper-slide .single-slide h3::after {
  margin-top: 0.1rem;
  content: " ";
  display: block;
  border: 1px solid #aa9868;
}
.pagecontent .swiper .swiper-slide .single-slide p {
  margin-top: 0;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #444;
}
.pagecontent .swiper .swiper-slide .single-slide p#quotation {
  font-size: 1.4rem;
}
.pagecontent .swiper .swiper-slide .single-slide p#ref {
  font-size: 1.2rem;
  font-style: italic;
}
.pagecontent .swiper .swiper-slide .single-slide .columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pagecontent .swiper .swiper-slide .single-slide .columns div {
  width: 45%;
}
.pagecontent .swiper .swiper-slide .single-slide .columns .scroll {
  height: 15rem;
  overflow-y: scroll;
  width: 80%;
  resize: none;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: 10px ridge #aa9868;
  background-color: #d9d0bb;
  color: #033c5a;
}

@media (max-width: 1100px) {
  .pagecontent .swiper .swiper-slide .single-slide .columns {
    flex-direction: column;
  }
  .pagecontent .swiper .swiper-slide .single-slide .columns div {
    width: 100%;
  }
}
